/* width */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 var(--background-content-color); 
    border-radius: var(--scrollbar-width);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--border-content-color); 
    border-radius: var(--scrollbar-width);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--title-color); 
  }
