#contact-form {
    margin: 0 auto;
    padding: var(--popup-margin);
    background-color: var(--background-content-color);
    > form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        input,
        select {
            padding: 0.3vh 0 0.3vh 0.7vw;
        }
        > * {
            width: 80%;
        }
        textarea {
            resize: none;
            height: 20vh;
            padding-left: 0.7vw;
        }
        button {
            width: 30%;
            font-weight: bold;
        }
    }
}
@media (min-width: 1600px) {
    #contact-form {
        width: 70%;
    }
}
@media (max-width: 422px) {
    .h-captcha {
        transform: scale(0.75);
        -webkit-transform: scale(0.75);
    }
}
#contact-form,
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form button {
    border-radius: 1vw;
    border: 0.2rem solid var(--border-content-color);
    font-size: var(--text-size);
}
